<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pomodoro_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Pomodoro_App.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pomodoro_App.Properties.Settings>
            <setting name="clientId" serializeAs="String">
                <value>411e08dd-f687-436d-ab7c-82880a9bdefe</value>
            </setting>
            <setting name="redirectUri" serializeAs="String">
                <value>https://login.microsoftonline.com/common/oauth2/nativeclient</value>
            </setting>
            <setting name="ATLASSIAN_USERNAME" serializeAs="String">
                <value>pawel.jakubowski@all-for-one.com</value>
            </setting>
            <setting name="ATLASSIAN_API_KEY" serializeAs="String">
                <value>ATATT3xFfGF0bw6mmPZwwKhmWUztWssVPDGwPeN9YqXMHGft62X2Twmdcxc55i15COqPHrqpaSGsyrneogpNMkTw-Wex7iLSsUfZpTVPBiA-gpAzHLkMkuoOvOPLaL9JLi44tTRb1foqQD6vrh655fignD7zgXah7AMNFFRkqDNx0xQ8XXYu8Q8=F7703639</value>
            </setting>
            <setting name="DOMAIN" serializeAs="String">
                <value>all41</value>
            </setting>
            <setting name="ATLASSIAN_ACCOUNTID" serializeAs="String">
                <value>605c3fc78efc9b0070580f35</value>
            </setting>
        </Pomodoro_App.Properties.Settings>
        <Pomodoro_App.Settings1>
            <setting name="client_id" serializeAs="String">
                <value>411e08dd-f687-436d-ab7c-82880a9bdefe</value>
            </setting>
            <setting name="redirect_uri" serializeAs="String">
                <value>https://login.microsoftonline.com/common/oauth2/nativeclient</value>
            </setting>
            <setting name="tenant" serializeAs="String">
                <value>common</value>
            </setting>
        </Pomodoro_App.Settings1>
    </userSettings>
</configuration>